<header>
  <mat-toolbar color="primary" fxLayout>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fitness Tracker</span>
    <div fxFlex></div>
    <div>
      <mat-nav-list fxLayout="row">
       <a mat-list-item style="color: white;" routerLink="/login">Signin</a>
       <a mat-list-item style="color: white;" routerLink="/traning">Traning</a>
       <a href="#" mat-list-item style="color: white;" (click)="logout()">Logout</a>
     </mat-nav-list>
   </div>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
